*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: 1px;
    text-decoration: none;
}
table{
    border-collapse: collapse;
    width: 80%;
    
}
th{
    background-color: #3f3f3f;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
}
td{
    border:1px,solid #3f3f3f;
    padding: 5px;
    position: center;
}
tr:nth-child(even){
    background-color: #ddd;
}